@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;600;700&family=Roboto+Mono:wght@400;700&display=swap");
html {
  box-sizing: border-box;
}

*,
*:before,
*::after {
  box-sizing: inherit;
}

body {
  background-image: url("img/crossword.png");
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100vh;
  font-family: Nunito;
  color: #234361;
}

.container {
  background-color: white;
  max-width: 900px;
  min-height: 500px;
  margin: auto;
}

.hero {
  padding: 74px 16px 88px;
  max-height: 722px;
}

.hero__image {
  width: 96px;
  height: 96px;
  border-radius: 50%;
  border: 16px solid #f6f9fd;
  box-sizing: content-box;
}

.hero__image-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero__hello {
  display: none;
}

.hero__brackets {
  display: none;
}

.hero__header {
  font-size: 26px;
  line-height: 32px;
  text-align: center;
  color: #234361;
}

.hero__header-special {
  color: #1070ca;
}

.hero__description {
  font-weight: 300;
  font-size: 16px;
  line-height: 32px;
  text-align: center;
}

.hero__paragraph-link {
  font-weight: bold;
  color: #4da8ff;
  text-decoration: none;
  margin-bottom: 48px;
}

.hero__contact {
  background: #4da8ff;
  border-radius: 64px;
  color: white;
  padding: 4px 24px;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  line-height: 40px;
  display: inline-block;
  margin-top: 20px;
}

.skills {
  background-color: #1070ca;
  color: white;
  padding: 64px 16px 88px;
}

.skills__header {
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.skills__section {
  margin-top: 64px;
}

.skills__section-emoji {
  height: 64px;
  line-height: 72px;
  display: block;
  text-align: center;
  margin-top: 64px;
}

.skills__section-header {
  font-weight: 700;
  font-size: 24px;
  line-height: 44px;
  text-align: center;
  margin: 16px 0 24px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.skills__section-item {
  color: #dbeaf7;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.skills__list {
  font-size: 16px;
  font-style: normal;
  line-height: 24px;
  color: #dbeaf7;
  margin: 0 auto;
  width: 288px;
  list-style-type: none;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.skills__section-item {
  padding: 0 0 0 24px;
  margin: 0;
  list-style-image: url("./img/small-tick.png");
}

.projects {
  padding: 64px 16px -24px;
}

.projects__header {
  color: #234361;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  margin-bottom: 46px;
}

.projects__paragraph {
  font-size: 16px;
  line-height: 32px;
  text-align: center;
  font-weight: 300;
  padding-bottom: 46px;
  color: #425a70;
}

.project-grid {
  display: grid;
  grid-template-columns: 102px 1fr;
  column-gap: 8px;
}

.project {
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
  background-color: #212528;
  border-radius: 16px;
  overflow: hidden;
  color: #a3a3a3;
  font-family: Roboto Mono;
  font-size: 13px;
  line-height: 24px;
  font-weight: normal;
  border: 6px #dbeaf7 solid;
}

.project__window {
  background-color: #1e1e1e;
  height: 40px;
  border-radius: 0 0 0 16px;
  display: flex;
  align-items: center;
  padding-left: 12px;
}

.project__window-circle {
  border-radius: 50%;
  height: 8px;
  background-color: #464a4d;
  display: block;
  width: 8px;
  margin-right: 8px;
  padding-left: 2px;
}

.project__window-github {
  height: 20.98px;
  width: 20.42px;
}

.project__content {
  padding: 24px 16px;
}

.project__title-name {
  color: #ffff;
}

.project__label {
  display: block;
  text-align: right;
  color: #808082;
  font-weight: normal;
}

.project__label__name {
  font-weight: normal;
  display: block;
  text-align: right;
  color: #808082;
  font-size: 13px;
  line-height: 24px;
}

.project__link {
  color: #14b5d0;
}

.contact {
  background-color: #dbeaf7;
  padding: 64px 16px 88px;
}

.contact__header {
  color: #234361;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
}

.contact__description {
  font-size: 16px;
  line-height: 32px;
  text-align: center;
  font-weight: 300;
  color: #425a70;
  font-style: normal;
}

.hero__contact-special {
  background: #4da8ff;
  border-radius: 64px;
  color: white;
  padding: 4px 24px;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  line-height: 40px;
  display: inline-block;
}
.contact__links {
  text-align: center;
}

.social {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  margin: 56px 64px;
}

.social__item {
  margin: 0 12px;
}

.social__link {
  color: #14b5d0;
  padding: 0;
  width: 48px;
  height: 48px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
}
