@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;600;700&family=Roboto+Mono:wght@400;700&display=swap");
html {
  box-sizing: border-box;
}

*,
*:before,
*::after {
  box-sizing: inherit;
}

body {
  background-image: url("img/crossword.png");
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Nunito;
  color: #234361;
}

.container {
  background-color: white;
  min-width: 320px;
  min-height: 500px;
  max-width: 94%;
  left: 16px;
  right: 16px;
}
.emoji {
  max-height: 20px;
}

.hero {
  padding: 74px 16px 88px;
  max-height: 722px;
}

.hero__image {
  width: 96px;
  height: 96px;
  border-radius: 50%;
  border: 16px solid #f6f9fd;
  box-sizing: content-box;
}

.hero__image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.hero__hello {
  display: none;
}

.hero__brackets {
  display: none;
}

.hero__bubble {
  position: absolute;
  left: calc(50% + 100px);
  top: -26px;
}
.hero__header {
  font-size: 26px;
  line-height: 32px;
  text-align: center;
  color: #234361;
}

.hero__header-special {
  color: #1070ca;
  white-space: nowrap;
}

.hero__description {
  font-weight: 300;
  font-size: 16px;
  line-height: 32px;
  text-align: center;
}

.hero__paragraph-link {
  font-weight: bold;
  color: #4da8ff;
  text-decoration: none;
  margin-bottom: 48px;
}

.hero__contact {
  background: #4da8ff;
  border-radius: 64px;
  color: white;
  padding: 4px 24px;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  line-height: 32px;
  display: inline-block;
  width: 278px;
  height: 48px;
  align-items: center;
}

.skills {
  background-color: #1070ca;
  color: white;
  padding: 64px 16px 88px;
}

.skills__header {
  font-size: 36px;
  font-weight: bold;
  line-height: 48px;
  text-align: center;
}

.skills__list {
  font-style: normal;
  color: #dbeaf7;
  margin: 0 auto;
  width: 288px;
  list-style-type: none;
  padding: 0;
}

.skills__section {
  margin-top: 64px;
}

.skills__section-emoji {
  height: 64px;
  line-height: 72px;
  display: block;
  text-align: center;
}

.skills__section-header {
  font-weight: 600;
  font-size: 24px;
  line-height: 44px;
  text-align: center;
  margin: 16px 0 24px;
  color: white;
}
.skills__section-item {
  padding: 0 0 0 24px;
  margin: 0 0 16px;
  position: relative;
  font-size: 16px;
  line-height: 24px;
}
.skills__section-item::before {
  position: absolute;
  left: 0;
  top: 7px;
  content: "";
  width: 12px;
  height: 9px;
  background: url("./img/small-tick.png");
  display: block;
}

.projects {
  padding: 64px 16px -24px;
  margin-top: 64px;
}

.projects__header {
  color: #234361;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  margin-bottom: 46px;
}

.projects-grid {
  display: grid;
  column-gap: 24px;
  row-gap: 24px;
}

.projects__paragraph {
  font-size: 16px;
  line-height: 32px;
  text-align: center;
  font-weight: 300;
  color: #425a70;
  max-width: 90%;
  margin: auto 46px;
}

.project-grid {
  display: grid;
  grid-template-columns: 102px 1fr;
  column-gap: 8px;
}

.project {
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
  background-color: #212528;
  border-radius: 16px;
  overflow: hidden;
  color: #a3a3a3;
  font-family: Roboto Mono;
  font-size: 13px;
  line-height: 24px;
  font-weight: normal;
}

.project__window {
  background-color: #1e1e1e;
  height: 40px;
  border-radius: 0 0 0 16px;
  display: flex;
  align-items: center;
  padding: 12px;
}

.project__window-circle {
  border-radius: 50%;
  height: 8px;
  background-color: #464a4d;
  display: block;
  width: 8px;
  margin-right: 8px;
  padding-left: 2px;
}

.project__window-github {
  height: 20.98px;
  width: 20.42px;
}

.project__content {
  padding: 24px 16px;
}

.project__title-name {
  color: #ffff;
}

.project__label {
  display: block;
  text-align: right;
  color: #808082;
  font-weight: normal;
}

.project__label__name {
  font-weight: normal;
  display: block;
  text-align: right;
  color: #808082;
  font-size: 13px;
  line-height: 24px;
}

.project__link {
  color: #d8bbcc;
}

.contact {
  background-color: #dbeaf7;
  padding: 64px 16px 88px;
}

.contact__header {
  color: #234361;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
}

.contact__description {
  font-size: 16px;
  line-height: 32px;
  text-align: center;
  font-weight: 300;
  color: #425a70;
  font-style: normal;
  max-width: 90%;
  margin: 0 auto;
}

.hero__contact-special {
  background: #4da8ff;
  border-radius: 64px;
  color: white;
  padding: 4px 24px;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  line-height: 40px;
  display: inline-block;
}
.contact__links {
  text-align: center;
}

.social {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  margin: 56px 64px;
}

.social__item {
  margin: 0 12px;
}

.social__link {
  color: #14b5d0;
  padding: 0;
  width: 48px;
  height: 48px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
}

@keyframes wave {
  0% {
    transform: rotate(-30deg);
  }
  50% {
    transform: rotate(10deg);
  }

  100% {
    transform: rotate(-30deg);
  }
}

.hand {
  animation: wave 0.71s ease-in-out infinite;
  display: inline-block;
  transform-origin: center center;
}

@media screen and (min-width: 786px) {
  .container {
    max-width: 982px;
  }
  .projects-grid {
    grid-template-columns: 1fr 1fr;
  }
  .hero {
    max-width: 768px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 960px) {
  .container {
    max-width: 1200px;
  }
  .hero {
    max-width: 100%;
    max-height: 856px;
  }

  .hero__hello {
    display: block;
    color: white;
    padding: 16px 19px;
    border-radius: 16px;
    background-color: #1070ca;
    font-weight: bold;
    font-size: 32px;
    position: relative;
  }

  .hero__hello::after {
    display: block;
    width: 17.42px;
    height: 22.66px;
    background: url(".//img/speech.png");
    content: "";
    position: absolute;
    top: 96%;
    left: 32px;
  }

  .hero__image {
    height: 178px;
    width: 178px;
    border: 24px solid #f6f9fd;
  }

  .hero__header {
    font-size: 32px;
    line-height: 40px;
  }

  .hero__paragraph {
    font-size: 20px;
    line-height: 40px;
  }

  .skills__header {
    font-size: 48px;
    line-height: 56px;
  }
  .project__content {
    padding: 24px 48px 48px;
  }
  .project-grid {
    grid-template-columns: 116px 1fr;
  }
  .project__label__name {
    font-size: 16px;
    line-height: 24px;
  }
  .projects__header {
    font-size: 48px;
    line-height: 56px;
    margin-top: 96px;
  }

  .projects__paragraph {
    font-size: 20px;
    line-height: 40px;
    margin-bottom: 48px;
  }
  .project {
    font-size: 16px;
    line-height: 24px;
  }

  .contact__header {
    font-size: 48px;
    line-height: 56px;
  }

  .contact__description {
    font-size: 20px;
    line-height: 40px;
    max-width: 800px;
  }
  .skills__column {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1184px;
    margin: 0 auto;
  }
  .hero__description {
    max-width: 800px;
    margin: 0 auto;
    position: relative;
  }
  .hero__description::before {
    position: absolute;
    width: 83px;
    height: 255px;
    content: "";
    display: block;
    background: url(".//img/openning.png");
    right: 100%;
    top: 0;
  }
  .hero__description::after {
    position: absolute;
    width: 83px;
    height: 255px;
    content: "";
    display: block;
    background: url(".//img/closing.png");
    left: 100%;
    top: 0;
  }

  .contact__links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 570px;
    margin: 64px auto 0;
  }

  .social {
    margin: 0;
  }
}
